---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Check for install at {{ velero_install_exe }}
  become: true
  ansible.builtin.stat:
    path: '{{ velero_install_exe }}'
  changed_when: false
  register: velero_binary
- name: Downloading and installing velero
  when: not velero_binary.stat.exists
  block:
    - name: Downloading {{ velero_url }} to {{ velero_tmp_tgz }}
      become: true
      become_user: root
      ansible.builtin.get_url:
        url: '{{ velero_url }}'
        dest: '{{ velero_tmp_tgz }}'
        mode: '644'
        checksum: '{{ velero_checksum }}'
    - name: Installing andrewrothstein.unarchivedeps
      ansible.builtin.include_role:
        name: andrewrothstein.unarchivedeps
    - name: Unarchiving {{ velero_tmp_tgz }}
      become: true
      become_user: root
      ansible.builtin.unarchive:
        remote_src: true
        src: '{{ velero_tmp_tgz }}'
        dest: '{{ velero_parent_install_dir }}'
        creates: '{{ velero_install_exe }}'
  always:
    - name: Rm {{ velero_tmp_tgz }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ velero_tmp_tgz }}'
        state: absent
- name: Linking {{ velero_link }} to {{ velero_install_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ velero_install_exe }}'
    dest: '{{ velero_link }}'
    state: link
